[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
waitress = "*"
Paste = "*"
PyYAML = "*"
globus-sdk = ">1.1.0,<= 2.0.0"
fair_research_login = "*"

[dev-packages]
pylint = "*"
